{% extends "base.html.twig" %}
{% block body %}
        <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
    Testing show() method from BlogController with a real article s slug.
    </a>
    <br>
    <a href="{{ path('blog_index') }}">
    Categories
    </a>
{% endblock %}